@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --background: #f9f9f9;
    --foreground: #ffffff;
    --primary-color: purple;
    --secondary-color: #3acfd5;
    --text-color: #1b1d21;
    --black: #000000;
    --white: #ffffff;
    --ff-primary: 'Poppins', sans-serif;
    --rounded-base: 8px;
    --font-size-large: 32px;
    --font-size-medium: 20px;
    --font-size-small: 18px;
    --font-size-tiny: 16px;
    --gap-large: 40px;
    --gap-medium: 20px;
    --gap-small: 15px;
    --padding-large: 50px 50px;
    --padding-medium: 0 20px;
    --border-radius-large: 50%;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    --skill-bg-color: #fca4fc;
    --skill-text-color: #000000;
    --accordion-bg-color: #222222;
    --accordion-content-bg-color: #FAE8EC;
    --accordion-border-color: #D37F93;
    --contact-bg-color: #f0f0f0;
    --contact-text-color: #1b1d21;
}