* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion--section {
    padding: var(--padding-large);
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--background);
}
.accordion-text {
    color var(--primary-color) !important;
}

.accordion {
    align-items: center;
    display: grid;
    padding: 25px;
    max-width: 33rem;
    width: 100%;
    background-color: var(--accordion-color);
    margin: 0 1rem;
    border-radius: var(--rounded-base);
    box-shadow: var(--box-shadow);
    justify-content: center;
    font-family: var(--ff-primary);
}

.accordion__content {
    background-color: var(--accordion-content-color);
    border-left: 6px solid var(--accordion-border-color);
    margin: 15px 10px;
    padding: 10px 15px;
    border-radius: var(--rounded-base);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
}

.accordion__content:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accordion__content header {
    display: grid;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all var(--transition-duration) linear;
    gap: 10px;
}

.accordion__content.is-open header {
    min-height: 60px;
    margin-bottom: 25px;
}

.accordion__content-title {
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: var(--black);
    text-align: left;
    align-items: center;
    display: flex;
}

.accordion__content-description {
    display: grid;
    height: 0;
    font-size: var(--font-size-tiny);
    color: var(--text-color);
    font-weight: 400;
    align-items: center;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height var(--transition-duration) ease-in-out, padding var(--transition-duration) ease-in-out;
    text-align: left;
}

.accordion__content.is-open .accordion__content-description {
    max-height: 200px;
    padding: 0 40px;
}