.contacts {
    text-align: center;
    padding: 50px 0;
    background-color: var(--foreground);
    color: var(--background);
}

.contacts__list {
    list-style: none;
    padding: 0;
    text-align: center;

}
.contacts__item {
    font-size: 18px;
    margin: 15px 0;
}
