.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background-color: var(--background);
    color: var(--black);
    gap: 20px;
}
.footer__logo {
    margin-left: 40px;
}
.footer__menu {
    list-style: none;
    display: flex;
    column-gap: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.footer__menu-link {
    text-decoration: none;
    font-weight: 600;
}

.footer__subscribe {
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    margin-right: 40px;
}
.footer__subscribe-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.footer__subscribe-form-input {
    color: var(--background);
    padding: 14px;
    border-radius: var(--rounded-base);
    border: none;
    background-color: #B3BAC5;
}
.footer__subscribe-form-item {
    color: #0F173D;
    opacity: 30%;
}

.footer__subscribe-form-button {
    width: 100%;
    background-color: var(--primary);
    padding-block: 13px;
    cursor: pointer;
    border-radius: 10px;
}
@media screen and (max-width: 840.98px) {
    .footer {
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .footer__container {
        display: grid;
    }
    .footer-links {
        gap: 55px;
    }
}

