.plans {
    padding: 50px 50px;
    background-color: var(--foreground);
}

.plans__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--background);
}

.plans__description {
    color: var(--background);
}