.portfolio {
    padding: 50px 0;
    background-color: var(--background);
    color: var(--background);
}

.portfolio__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.portfolio__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.portfolio__description {
    font-size: 18px;
    margin: 25px;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

.portfolio__item {
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 10px;
}

.portfolio__image {
    width: 100%;
    border-radius: 10px;
}

