.skills {
    padding: var(--padding-large);
    background-color: var(--background);
    color: var(--text-color);
}

.skills__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-medium);
}

.skills__title {
    color: var(--primary-color);
    text-align: center;
    font-size: var(--font-size-large);
    margin-bottom: var(--gap-medium);
}

.skills__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: var(--gap-medium);
    flex-wrap: wrap;
}

.skills__item {
    background-color: var(--skill-bg-color);
    color: var(--skill-text-color);
    padding: 10px 20px;
    border-radius: var(--rounded-base);
    transition: transform var(--transition-duration), box-shadow var(--transition-duration);
}

.skills__item:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow);
}